@media (max-width: 768px) {
  .sidebar {
    min-width: 1px;
    height: 0;
  }

  .title-page {
    display: flex;
  }

  .title {
    justify-content: center;
  }

  .title-text {
    display: none;
  }

  .hamburger-btn {
    font-size: 20px;
    padding: 10px 10px;
    display: flex;
    background: $nav-main-color;
    border-radius: 5px;
    position: fixed;
  }

  .menu {
    display: none;
  }

  .chat {
    display: none;
  }

  .topbar {
    display: none;
  }
/*
  .topbar-in-media {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background: $nav-main-color;
    left: 0;
    bottom: 0;
    padding: 0;
    font-size: 15px;
    font-family: $brand-font;

    .topnav-element-before {
      padding: 5px 15px;
      border: none;
      display: flex;
      flex-direction: row;
      width: 200px;

      .topnav-text {
        padding: 10px 0;
      }

      .notification-text,
      .logout-text {
        display: flex;
      }

      .icon-notification::after {
        top: 10px;
        right: 160px;
      }

      .icon-arrow-down {
        display: none;
      }

      .icon-topnav {
        padding: 10px;
      }
    }
  }
  */

  .main-container {
    padding: 0;
  }

  .general {
    margin-top: 20px;
    margin-left: 20px;
  }

  .date-wrapper {
  font-size: 18px;

    .input-wrapper {
      width: 200px;
      height: 45px;
    }
  }

  .button-refresh {
    width: 48px;
    height: 48px;
    text-align: center;

    i {
      font-size: 22px;
    }
  }

  .chart {
    top: 40px
  }

  .pages.links {
    margin-left: 20px;
  }
  
  .button-addnew {
    font-size: 20px;
  }

  .table-wrapper {
    flex-direction: column;
    margin: 10px;
  }

  .table-links {
    width: 100%;
  }

  .table-general {
    width: 100%;
    padding: 0 20px;
  }

  .title-chart {
    padding: 20px;
  }

  .link a {
    font-size: 13px;
  }

  .table-data-links {
    font-size: 13px;
    padding: 5px 5px;
  }

  td.icon {
    display: flex;
    flex-direction: row;
  }

  .icons {
    padding: 15px 0;
  }

  .sidebar-show {
    display: flex;
    max-width: 180px;
    flex-direction: column;
    transition: 0.5s;
    overflow: scroll;
    z-index: 1;
    height: 100%;

    .title {
      display: flex;

      .title-text {
        display: inline;
        padding: 0 0 0 6vw;
        font-size: 23px;
      }

      .hamburger-btn {
        left: 1px;
      }
    }

    .menu {
      display: flex;

      .item-menu {
        width: 180px;
        font-size: 15px;

        .icon-sidebar {
          padding: 10px;
        }
      }
    }

    .chat {
      display: flex;
      flex-wrap: wrap;
      border-top: solid 1px $background-color;

      .manager-title {
        font-size: 14px;
      }

      .manager {
        //display: flex;
          
        img {
        width: 40px;
        height: 40px;
        margin-left: 2px;
        }

        .green-dot {
          top: 558px;
          left: 53px;
          font-size: 16px;
        }

        span {
          font-size: 15px;
          padding-left: 10px;
        }
      }
    }
  }

  .topbar-media-show {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    left: 0;
    bottom: 0;
    padding-top: 100px;
    font-size: 15px;

    .topnav-element {
      position: relative;
      color: $text-color;
      border-top: solid 0.5px $background-color;
      border-left: none;
      padding-top: 10px;
    
      &:hover {
        background: rgb(53, 53, 53);
        border-left: solid 5px $brand-main-color;
      }
    }

    .money-wrapper {
      padding-left: 20px;
      font-size: 18px;
      padding-bottom: 5px;
    
      .topnav-text {
        font-size: 18px;
      }
    }
    
    .notification-wrapper {
      padding-left: 20px;
      padding-bottom: 5px;
    
      .icons {
        font-size: 18px;
      }
    
      .orange-dot {
        top: 6px;
        right: 140px;
        font-size: 12px;
      }
    }
    
    .profile-wrapper {
      font-size: 18px;
      padding-left: 20px;
      padding-bottom: 6px;
    
      span {
        font-size: 16px;
        font-family: $brand-font;
      }
    }
    
    .quit-wrapper {
      padding-left: 20px;
      font-size: 18px;
      padding-bottom: 5px;
    }
  }
}

@media (max-width: 375px) {
  
  .chart {
    width: 100%;
  }
}