/* Colors */
$text-color: #a1a1a1;
$brand-main-color: #f58220;
$link-color: #ffa200;
$nav-main-color: rgb(27, 24, 24);
$black-color: #000;
$page-color: #fff;
$background-color: #e3e3e3;

/* Font sizes */
$paragraph-font-size: 18px;

/* Fonts */
$brand-font: 'Lato', sans-serif;
$main-title-font: 'Satisfy', cursive;
