.title-page {
  text-transform: uppercase;
  border-bottom: solid 1px $background-color;
}

.title {
  color: $text-color;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 300;
  font-family: $brand-font;
}
