.earningschart-wrapper {
  padding-bottom: 70px;
}

.title-chart {
  font-family: $brand-font;
  padding: 40px 320px;
}

.chart {
  position: relative;
  width: 60%;  
  height: 30%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  top: 60px
}


