.sidebar {
  background: $nav-main-color;
  width: 350px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title-text {
  color: $page-color;
  font-family: $main-title-font;
  font-size: 45px;
  padding: 0 10%;
  width: 100%;
}

.fa-bars {
  font-size: 40px;
  color: $text-color;
  padding-top: 40px;
  padding-right: 40px;
  display: none;
}

.icon-sidebar {
  padding: 20px;
}

.menu-list {
  padding: 0;
}

.item-menu {
  font-family: $brand-font;
  font-size: 18px;
  padding: 15px;

  &:hover {
    background: rgb(53, 53, 53);
    border-left: solid 5px $brand-main-color;

    .link-sidebar {
      color: $page-color;
    }
  }
}

.menu::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
}

.manager-title {
  padding: 0 30px;
}

.manager {
  color: #536bf3;
  padding: 0 30px;
  align-items: center;
  max-height: 50px;
  display: flex;

  &:hover {
    background: rgb(53, 53, 53);
    border-left: solid 5px $brand-main-color;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  span {
    padding-left: 20px;
  }

  .green-dot {
    color: #5cbd1b;
    position: absolute;
    left: 48px;
    top: 563px;
  }
}

.topbar-media {
  display: none;
}
