.table-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px auto;
}

.table-general {
  padding: 20px 20px 20px;
  border-spacing: 0;
  width: 33%;
}

.table-row {
  //padding-bottom: 30px;
}

.table-data {
  border-bottom: solid 1px $background-color;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 24px;
}

.number {
  text-align: right;
}
