.topbar {
  font-size: 18px;
}

.topnav-element {
  position: relative;
  padding: 20px;
  color: $text-color;
  border-left: solid 1px $background-color;

  &:hover {
    background: $background-color;
  }
}

.notification-text,
.logout-text {
  display: none;
}

.orange-dot {
  color: #eb6e1c;
  position: absolute;
  top: 17px;
  right: 31px;
  font-size: 13px;
}

.profile-wrapper span {
  color: #536bf3;
  font-family: $brand-font;
}
